* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 100px auto;
}
.container .btn_wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  width: 100%;
}
.container .btn_wrapper .btn {
  padding: 7px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.container .muteBtn {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-right: 15px;
  margin-bottom: 40px;
  border: 1px solid #0abab5;
  border-radius: 5px;
  cursor: pointer;
}
.container .muteBtn img {
  width: 20px;
  height: 20px;
}
.container .isMute {
  background-color: #0abab5;
}
.container .progress_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.container .game-field {
  display: flex;
  flex-wrap: wrap;
}
.container .game-field .bar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  outline: gray solid 1px;
  background-color: #fff;
  cursor: pointer;
}
.container .game-field .bar .empty {
  display: none;
}
.container .sizes {
  display: flex;
}
.container .sizes .size {
  color: blue;
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 15%;
  right: 0;
  left: 0;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100%;
  padding: 20px 40px;
  border-radius: 20px;
}
.modal .modal_win {
  font-size: 25px;
  margin-bottom: 10px;
  line-height: 35px;
  text-align: center;
}
.modal .modal_user {
  font-size: 20px;
  margin-bottom: 15px;
}
.modal .modal_form {
  padding: 10px 15px;
  border: 1px solid gray;
  border-radius: 15px;
  margin-bottom: 10px;
}
.modal .modal_form:focus {
  outline: none;
  border-color: #0abab5;
}
.modal .modal_btn {
  font-size: 18px;
  color: #fff;
  border: none;
  background-color: #0abab5;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.modal_results {
  position: absolute;
  top: 15%;
  right: 0;
  left: 0;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  padding: 20px 40px;
  border-radius: 20px;
  background-color: #fff;
}
.modal_results .results_title {
  padding: 0;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}
.modal_results .results_table {
  text-align: center;
  border-collapse: collapse;
}
.modal_results .results_table tr,
.modal_results .results_table th,
.modal_results .results_table td {
  padding: 15px;
}
.modal_results .results_table tr {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.modal_results .results_table tr:first-child {
  border: none;
}
.modal_results .results_table tr:last-child {
  border-bottom: none;
}
.modal_results .results_table tr:nth-child(2) {
  background-color: #0abab5;
  color: #fff;
}
.modal_results .results_table tr:nth-child(3) {
  border-bottom: none;
  background-color: #f4c403;
  color: #fff;
}
.modal_results .results_table tr:nth-child(4) {
  border-top: none;
  background-color: #c5c5c5;
  color: #fff;
}
.modal_results .results_table th {
  border-top: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
